@model IEnumerable<nutritionoffice.Models.Payment>

@{
    var indexarray = 0;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table table-condensed">
        <thead>
            <tr>
                <td></td>
                <th>@Resource.Date</th>
                <th>@Resource.SortDescription</th>
                <th>€</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model.ElementAt(i);
                    indexarray = i;
                    <tr>
                        <td><input type="hidden" name="@("payments[" + i + "].CustomerID")" value="@item.CustomerID" /></td>
                        <td><input type="text" name="@("payments[" + i + "].PaymentDate")" value="@item.PaymentDate" class="form-control datepicker" /></td>
                        <td><input type="text" name="@("payments[" + i + "].Description")" value="@item.Description" class="form-control" /></td>
                        <td><input type="text" name="@("payments[" + i + "].Euro")" value="@item.Euro" class="form-control numbertextbox" /></td>
                        <td>delete</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
