@model nutritionoffice.Models.FoodCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FoodCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GreekName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GreekName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(nutritionoffice.Resource.Edit, "Edit", new { id = Model.id }) |
    @Html.ActionLink(nutritionoffice.Resource.BacktoList, "Index")
</p>
